#map {
	height: 1080px; 
}

.leaflet-popup-content-wrapper {
	font-size: 1.5em;
}

@media only screen and (max-width: 1000px)
{ 
	.leaflet-popup-content-wrapper {
		font-size: 2.5em;
	}
}
